<mat-card>
   <mat-card-header>
      <mat-card-title>Register</mat-card-title>
   </mat-card-header>

   <form [formGroup]="registerForm" (ngSubmit)="sendFormData()" novalidate>
      <mat-card-content>
         <mat-form-field>
            <input matInput type="text" placeholder="Name" formControlName="name" />
            @if (nameField.hasError('required') && nameField.touched) {
            <mat-error>Password is <strong>required</strong></mat-error>
            }
         </mat-form-field>
         <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email" />
            @if (emailField.hasError('required') && emailField.touched) {
            <mat-error>Email is <strong>required</strong></mat-error>
            } @if (emailField.hasError('email') && !emailField.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
            }
         </mat-form-field>
         <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password" />
            @if (passwordField.hasError('required') && passwordField.touched) {
            <mat-error>Password is <strong>required</strong></mat-error>
            }
         </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
         <button mat-flat-button color="primary" type="submit" [disabled]="registerForm.status === 'INVALID'">
            Register
         </button>
         <button mat-raised-button color="secondary" type="button" (click)="cancel()">Cancel</button>
      </mat-card-actions>
   </form>
</mat-card>
