@use '../settings/variables' as vars;
@use '../tools/mixins';

.auth_content {
   width: 90%;
   margin: 0 auto;
   overflow: hidden;
   max-width: 600px;
   padding: 3rem 0;

   @include mixins.media-query-md() {
      padding: 6rem 0;
   }

   mat-card {
      padding: 1.5rem 1rem;

      mat-card-header {
         padding: 1rem 0;
         justify-content: center;
      }

      mat-card-content {
         display: flex;
         flex-direction: column;
      }

      mat-card-actions {
         justify-content: center;
         gap: 0.7rem;
      }
   }
}
