@use '../settings/variables' as vars;
@use '../tools/mixins';

.main_content {
   mat-sidenav-container {
      background-color: vars.$sidenav-container-color;
   }

   mat-sidenav-content {
      padding: 1.5rem 0;
   }

   mat-sidenav {
      min-width: 9rem;
   }

   mat-toolbar {
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      z-index: 1000;
      justify-content: space-between;
   }
}
