@use '../settings/variables' as vars;
@use '../tools/mixins';

.not_found {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   padding-top: 3rem;

   @include mixins.media-query-md() {
      padding-top: 5rem;
   }

   &__title {
      font-size: 5rem;
      color: hsl(10, 94%, 50%);
      font-weight: bold;
      padding: 2rem 0;
   }

   &__subtitle {
      font-size: 2rem;
      padding: 1rem 0;
   }

   &__description {
      font-size: 1.5rem;
      padding: 1rem 0;
      margin-bottom: 1rem;
   }

   &__buttom {
      background-color: rgb(228, 52, 17, 0.1);
      color: hsl(10, 94%, 50%);
      border-radius: 2.75rem;
      padding: 10px 20px;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
   }

   &__buttom:hover {
      background-color: rgb(228, 52, 17, 0.3);
   }
}
