@use '../settings/variables' as vars;
@use '../tools/mixins';

.product_table {
   width: 90%;
   margin: 0 auto;
   overflow: hidden;
   max-width: 1200px;

   &__button {
      display: flex;
      justify-content: end;
      padding-bottom: 0.8rem;
   }

   &__cell_actions {
      display: flex;
      gap: 0.4rem;
   }
}

.product_form {
   width: 90%;
   margin: 0 auto;
   overflow: hidden;
   max-width: 700px;
   position: relative;

   mat-card {
      padding: 0.8rem 0.5rem;

      mat-card-header {
         padding-top: 0.5rem;
         justify-content: center;
      }

      mat-card-content {
         display: flex;
         flex-direction: column;
      }

      mat-card-actions {
         justify-content: center;
         gap: 0.7rem;
      }
   }

   mat-form-field {
      width: 100%;
   }

   .row {
      display: flex;
      flex-direction: column;
      margin: 0;

      @include mixins.media-query-md() {
         display: flex;
         flex-direction: row;
         gap: 1rem;
      }
   }
}
